.home
	script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js')
	.home_block
		.home__intro
			h1 Content Solution for all your needs. One 
				span Platform
			p A place where quality is guaranteed. No Exceptions
		.home__vector
			img(src="assets/home.svg", alt="Writing Tools")
	.caption
		img(src="assets/logo.png", alt="Mycoso Logo")
		span For&nbsp;
		span#type