	.signin {
  @media(min-width: 1400px){
            padding: 0 5%;
        }
        @media (max-width: 991px) {
                position:relative;
            }


	    #signinvideo {
	        position: absolute;
	        z-index: -1;
	        right: 0;
	        bottom: 0;
	        top: 0;
	        right: 0;
	        width: 100%;
	        height: 100%;
	        background-size: 100% 100%;
	        background-color: black;
	        /* in case the video doesn't fit the whole page*/
	        // background-image: /* our video */;
	        background-position: center center;
	        background-size: contain;
	        object-fit: cover;
	        /*cover video background */

	          @media (max-width: 1024px) {
                position:static;
            }
              @media (max-width: 991px) {
                position: absolute;
            }

	    }
	    h1 {
	        font-size: 4em;
	        color: #fff;
	        @media (max-width: 1024px) {
                padding-left:50px;
            }
              @media (max-width: 991px) {
                font-size: 2em;
                    padding-top: 30px;
                    padding-left:15px;
            }
	    }

	    a {
	        display: inline-block;
	        padding: 10px 20px;
	        font-size: 2em;
	        color: white;
	        background: #e74c3c;
	        margin-right: 10px;
	        margin-top: 20px;
	        position: relative;
	        transition: all .4s ease;
	        transform: translateX(50px);
	        transition-delay: .5s;
	          
	        &:hover {
	            text-decoration: none;
	        }
	        &:after {
	            content: "";
	            position: absolute;
	            width: 0%;
	            height: 0%;
	            top: 0;
	            left: 0;
	            background: transparent;
	            border-left: 2px solid transparent;
	            border-top: 2px solid transparent;
	            transition: all .4s ease;
	        }
	        &:before {
	            content: "";
	            position: absolute;
	            width: 0%;
	            height: 0%;
	            bottom: 0;
	            right: 0;
	            background: transparent;
	            border-right: 2px solid transparent;
	            border-bottom: 2px solid transparent;
	            transition: all .4s ease;
	        }

	        &:hover::after ,&:hover::before{
	        	border-color: #fff;
	            width: 100%;
	            height: 100%;
	        }

	        @media (max-width: 1024px) {
                margin-bottom:50px;
            }
              @media (max-width: 991px) {
                transform: translateX(15px);
                font-size:1.4em;
            }
	    }
	}