.signin
	video#signinvideo(loop autoplay muted poster="assets/videoposter.png")
		source(src="assets/bg.webm" type="video/webm")
	h1 Join Us
	a(href="#", data-toggle="modal", data-target="#writeModal") I am a writer
	a(href="#",data-toggle="modal", data-target="#contentModal") I want content