@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import './pagepilling.css';






/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}




/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}




/* latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}




/* cyrillic-ext */

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EA7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}




/* cyrillic */

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EBdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}




/* latin-ext */

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}




/* latin */

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



$lato: 'Lato',
sans-serif;
$mari: 'Merriweather',
serif;


.pp-easing {
    transition: all .8s ease-in-out !important;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0; // background: linear-gradient(45deg, #9b59b6, #e67e22);
    background: #fff;
    text-align: right;
    li {

        display: inline-block;

        a {
            color: #e74c3c;
            padding: 15px;
            display: block;
            font-family: $lato;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                background: rgba(0, 0, 0, .2);
                text-decoration: none;
            }
        }
    }

    li.active {
        a {
            background: #e74c3c;
            text-decoration: none;
            color: #fff;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        height: 5px;
        background: linear-gradient(45deg, #9b59b6, #e67e22);
        bottom: 0;
        left: 0;
    }
}

.section {
    padding: 4%;
    transition: all .5s ease;
    margin-top: 0px;
}

.section.active {
    margin-top: 0px;
}

body {
    font-family: $lato;
}


#section1::after {
    content: "";
    background: url('../assets/home_cover.jpg') no-repeat;
    width: 40%;
    height: 40%;
    right: -20%;
    top: 0;
    position: absolute;
    opacity: .7;
    z-index: -1;
    border-radius: 50%;
    @media (max-width: 991px) {
        display:none;
    }
}


#section1::before {
    content: "";
    background: url('../assets/home_cover.jpg') no-repeat;
    width: 40%;
    height: 40%;
    right: -25%;
    top: 45%;
    position: absolute;
    opacity: .7;
    z-index: -1;
    border-radius: 50%;
    @media (max-width: 991px) {
        display:none;
    }
}



#section1 {
    background: #fff !important;
}

#section2 {
    background: linear-gradient(45deg, #fff, #f6f6f6);
    background-size: 28% !important;
    z-index: 1;
}


#section3 {
    background: #000;
    @media (max-width: 1024px) {
        padding:0;
    }
    @media (max-width: 991px) {
        background: transparent !important;
        border: 0px;
    }
}


#section4 {
    background: #fff !important;
}




#section2.active .info__graphic img ,
#section2.active .info__content, 
#section3.active .signin a,
#section4.active .contact::after {
    transform: translateX(0);
}






div#pp-nav ul li a span {
    border: 1px solid #000 !important;
}

div#pp-nav ul li a.active span {
    background: #000
}


//Components Import
@import '../components/home/_style.scss';
@import '../components/footer/_style.scss';
@import '../components/info/_style.scss';
@import '../components/signin/_style.scss';
@import '../components/contact/_style.scss';
@import '../components/writersform/_style.scss';
@import '../components/contentform/_style.scss';



@media (max-width:1024px) {
    body,
    html {
        overflow: auto;
    }
    .section {
        margin-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }
}