-var page = ''
-var bodyClass = ''
-var pagetitle = ''
-var sitetitle = ''
block variables
doctype html
html
  head
    title Mycoso
    //- link(rel="shortcut icon", href="favicon.ico", type="")
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content="")
    meta(property="og:image", content="")
    meta(property="og:title" content="")
    meta(property="og:url" content="")
    meta(property="og:site_name" content="")
    meta(name="format-detection" content="telephone=no")

    include _styleLinks
    block stylelinks
    block head
  body
    #page-wrap
      block header
      block body
      block footer
    include _scriptLinks
    block foot
