#writeModal.modal.fade(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(data-dismiss="modal") &times;
					.modal-title Let's get you started
				.modal-body
					p Writers Form
				.modal-footer
					button(class="btn btn-default" , data-dismiss="modal") Close