.footer {
    @media (max-width: 1024px) {
        position: relative;
    }
    @media (max-width:991px) {
        text-align: center;
        background: #333;
    }
    padding: 4%;
    padding-bottom: 2%;
    z-index:90;
    position:absolute;
    bottom:0px;
    p {
        display: inline-block;
        @media (max-width: 991px) {
            color:#fff;
        }
    }
    ul {
        list-style: none;
        display: inline-block;
        @media (max-width: 991px) {
            padding-left:0;
            display: block;
        }
        li {
            display: inline-block;
            a {
                display: block;
                padding: 15px;
            }
        }
    }
}