.info
	.info__box
		.info__graphic
			img(src="assets/creative.png", alt="")
		.info__content
			p All our writers are thoroughly vetted and we only accept writers who have impeccable English, and oodles of creativity.
			p Our work is original, and proof read before being sent across to you.
			p You also have the option of requesting one of our qualified editors to go over the content, either before or after it is submitted to you.