.contact{
	p{
		color: #999;
		font-size:2em;
	}

	input[type='email']{
		background:transparent;
		display:block;
		width:60%;
		border:0px;
		border-bottom: 1px solid #fff;
		padding:30px 15px 30px 0px;
		border-radius:0;
		box-shadow:none;
		font-size:3em;
		margin-bottom: 20px;
		color: #e67e22;
		&:invalid{
			border-bottom: 1px solid red;
		}

		&:valid{
			border-bottom: 1px solid green;
		}
	}

	.btn{
		border-radius:0px;
		background: #9b59b6;
		border-color: #9b59b6;
		font-size: 1.5em;
	}

	&::after{
		content:"";
		background: url('../assets/phone.png') no-repeat;
		width:262px;
		background-size: 80%;
		display:block;
		position: absolute;
		right:10%;
		top:0%;
		height: 70%;
		bottom:0;
		margin-top:auto;
		margin-bottom:auto;
		transform: translateX(50px);
		transition: all .5s ease;
		transition-delay: .5s;
		@media (max-width:1024px){
		display:none;
		}
	}

	@media (min-width:1400px){
		padding: 0 5%;
	}
}