.contact {
    p {
        color: #333;
        font-size: 3em;
        width: 40%;
        @media (max-width:992px){
                width:100%;
                font-size:1.5em;
        }
    }

    input[type='email'] {
        background: transparent;
        display: block;
        width: 40%;
        border: 0px;
        border-bottom: 1px solid #fff;
        padding: 30px 15px 30px 0px;
        border-radius: 0;
        box-shadow: none;
        font-size: 3em;
        margin-bottom: 20px;
        color: #e67e22;
        @media (max-width:992px){
                width:100%;
                font:{
                    size:1.5em
                };
        }
        &:invalid {
            border-bottom: 1px solid red;
        }

        &:valid {
            border-bottom: 1px solid green;
        }
    }

    .btn {
        border-radius: 0px;
        font-size: 1.5em;
    }

    &::after {
        content: "";
        background: url('../assets/map.png') no-repeat;
        width: 40%;
        background-size: 95%;
        display: block;
        position: absolute;
        right: 10%;
        top: 0%;
        height: 39%;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        transform: translateX(50px);
        transition: all .5s ease;
        transition-delay: .5s;
        @media (max-width: 1024px) {
            display:none;
        }
    }

    @media (min-width:1400px) {
        padding: 0 5%;
    }
}